<!DOCTYPE html>
<html lang="en-US" class="scroll-smooth antialiased">
<head>
    {{ partial "head.html" . }}
    {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}
</head>
<body class="margin-0 bg-brand-cream text-brand-dark min-h-screen flex flex-col">

    {{ partial "header.html" . }}

    <main class="flex-grow flex flex-col">
        {{ block "main" . }}{{ end }}
    </main>

<div class="bg-red-500 text-white p-4 text-center">
  If this bar is bright red with white text, Tailwind is working!?
</div>

    {{ partial "footer.html" . }}

</body>
</html>