{{ define "main" }}

<main class="w-full bg-white">
    
    <header class="w-full bg-[#e4e2de]/30 py-20 border-b border-black/5">
        <div class="w-full max-w-iboh-container mx-auto px-6 md:px-[80px]">
            <h1 class="text-4xl font-extrabold text-iboh-dark md:text-5xl tracking-tight">
                {{ .Title }}
            </h1>
        </div>
    </header>

    <div class="w-full max-w-iboh-container mx-auto px-6 md:px-[80px] py-16">
        <article class="prose max-w-none prose-headings:text-iboh-dark prose-p:text-gray-700">
            {{ .Content }}
        </article>
    </div>

</main>

{{ end }}