<footer class="bg-slate-900 text-white">

    <div class="container mx-auto py-16">

        <div class="grid md:grid-cols-4 gap-10">

            <div>
                <h3 class="font-bold mb-4">
                    {{ site.Title }}
                </h3>

                <p>
                    Organization description goes here.
                </p>
            </div>

            <div>
                <h3 class="font-bold mb-4">
                    About
                </h3>

                <ul>
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/leadership/">Leadership</a></li>
                </ul>
            </div>

            <div>
                <h3 class="font-bold mb-4">
                    Resources
                </h3>

                <ul>
                    <li><a href="/resources/">Resources</a></li>
                    <li><a href="/news/">News</a></li>
                </ul>
            </div>

            <div>
                <h3 class="font-bold mb-4">
                    Contact
                </h3>

                <p>info@example.org</p>
            </div>

        </div>

    </div>

</footer>