<div class="w-full bg-primary text-white py-3">
    <div class="max-w-6xl mx-auto px-6 lg:px-8 py-2 flex flex-col sm:flex-row items-center justify-between gap-3 text-center sm:text-left text-xl font-medium">
        <div class="flex items-center gap-3">
            <span class="relative flex h-2 w-2">
                <span class="absolute inline-flex h-full w-full rounded-full bg-secondary opacity-75 animate-ping"></span>
                <span class="relative inline-flex rounded-full h-2 w-2 bg-secondary"></span>
            </span>
            <p>Strengthen Client Confidence</p>
        </div>

        <a href="/apply"
           class="btn-banner">
            Become Board Certified
        </a>
    </div>
</div>